﻿@model IGetUserDto
@{
    ViewData["Title"] = "User Details";
}

<body>
    <!-- Layout wrapper -->
    <div class="layout-container">

        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> View Details</h4>

                @{
                    var url = this.Model.PhotoURL;
                    if (url == "default photo")
                    {
                        url = "https://localhost:5000/images/default_photo.jpg";
                    }
                }
                <img src="@url"
                     alt="Profile Photo"
                     width="300"
                     height="300" />

                <!-- Table within card -->
                <div class="table-responsive text-nowrap">
                    <table class="table card-table">

                        <tbody class="table-border-bottom-1">
                            <tr>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Username:</strong></td>
                                <td>@this.Model.Username</td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-react fa-lg text-info me-3"></i> <strong>FirstName:</strong></td>
                                <td>@this.Model.FirstName</td>
                            </tr>
                            <tr>
                                <td><i class="fab fa-vuejs fa-lg text-success me-3"></i> <strong>LastName:</strong></td>
                                <td>@this.Model.LastName</td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Account Created:</strong>
                                </td>
                                <td>@this.Model.TimeCreated</td>
                            </tr>
                            <tr>
                                <td>
                                    <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Role:</strong>
                                </td>
                                <td>@this.Model.Role</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!--/ Table within card -->

            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- / Layout wrapper -->
</body>