﻿@model UpdateUserDto

@{
    ViewData["Title"] = "Edit Profile";
}

<body>
    <!-- Layout wrapper -->
    <div class="layout-container">

        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Edit Profile</h4>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <h5 class="card-header"><span class="text-muted fw-light">Profile Details for</span> @this.Context.Session.GetString("Username")</h5>
                            <!-- Account -->
                            <!-- Profile Photo -->
                            <div class="card-body">
                                <form asp-controller="Users" asp-action="Edit" method="Post">
                                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                                        <img src="@this.Model.PhotoURL"
                                             alt="user-profile-photo"
                                             class="d-block rounded"
                                             height="100"
                                             width="100"
                                             id="uploadedAvatar" />
                                        <div class="button-wrapper">
                                            <span class="d-none d-sm-block">Change photo</span>
                                            <input class="form-control"
                                                   type="text"
                                                   id="PhotoURL"
                                                   asp-for="PhotoURL"
                                                   placeholder="https://" />
                                            <button type="submit" class="btn btn-primary" asp-route-user="@this.Model">Save</button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /Profile Photo -->

                            <hr class="my-0" />
                            <div class="card-body">
                                <form id="formAccountSettings" asp-controller="Users" asp-action="Edit" method="POST">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row">
                                        <div class="mb-3 col-md-6">
                                            <label asp-for="FirstName" class="form-label">First Name</label>
                                            <input class="form-control"
                                                   type="text"
                                                   id="FirstName"
                                                   asp-for="FirstName"
                                                   autofocus />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3 col-md-6">
                                            <label asp-for="LastName" class="form-label">Last Name</label>
                                            <input class="form-control"
                                                   type="text"
                                                   asp-for="LastName"
                                                   id="LastName" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>


                                        <div class="mb-3 col-md-6">
                                            <label asp-for="Email" class="form-label">E-mail</label>
                                            <input class="form-control"
                                                   type="email"
                                                   id="Email"
                                                   asp-for="Email" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>

                                        <div class="mb-3 col-md-6">
                                            <label asp-for="Password" class="form-label">Password</label>
                                            <input type="password"
                                                   class="form-control"
                                                   id="Password"
                                                   asp-for="Password"
                                                   placeholder="**********" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>

                                        @*  @{
                        if (this.Context.Session.GetString("UserRole") == "admin")
                        {
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="PhoneNumber">Phone Number</label>
                                <div class="input-group input-group-merge">
                                    <input type="text"
                                           id="PhoneNumber"
                                           asp-for="PhoneNumber"
                                           class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                        }
                    }*@

                                    </div>
                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-primary me-2">Save changes</button>
                                        <a asp-controller="Users" asp-action="Index" method="Get" class="btn btn-outline-secondary">Cancel</a>
                                    </div>
                                </form>
                            </div>
                            <!-- /Account -->
                        </div>
                        <div class="card">
                            <h5 class="card-header">Delete Account</h5>
                            <div class="card-body">
                                <div class="mb-3 col-12 mb-0">
                                    <div class="alert alert-warning">
                                        <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete your account?</h6>
                                        <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                                    </div>
                                </div>
                                <form id="formAccountDeactivation" asp-controller="Users" asp-action="Delete" method="post">
                                    <div class="form-check mb-3">
                                        <input class="form-check-input"
                                               type="checkbox"
                                               name="accountActivation"
                                               id="accountActivation" />
                                        <label class="form-check-label" for="accountActivation">I confirm my account deactivation</label>
                                    </div>
                                    <button type="submit" class="btn btn-danger deactivate-account">Delete Account</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- / Layout wrapper -->
</body>
