﻿<!DOCTYPE html>
<html>
<head>
    <title>
        About
    </title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h3>Here we will add info about the forum.</h3>
    <img src="~/images/logo.png" />
</body>
</html>