﻿@model Tuple<IEnumerable<Post>, IEnumerable<Post>>
@{
    this.ViewData["Title"] = "Chef Chat Home";
}


<div>
    <br>
    <h1 align="center">Welcome to Chef Chat!</h1>
    <p align="center">@this.ViewData["userCount"]</p>
    <h6 align="center">@this.ViewData["postCount"]</h6>
    <br>

    <!--Table1: Most Commented Posts-->
    <div class="card">
        <h5 class="card-header" style="background-color:#e6e4fd">Most Commented Posts</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Post</th>
                        <th>Author</th>
                        <th>Date</th>
                        <th style="text-align:center">Comments</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">

                    @{
                        foreach (var item1 in this.Model.Item1)
                        {
                            <tr>
                                <td>
                                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                                    <strong><a asp-action="Details" asp-controller="Posts" asp-route-id="@item1.ID"> @item1.Title</a></strong>
                                </td>
                                <td>@item1.User.Username</td>
                                <td>@item1.TimeCreated.ToShortDateString()</td>
                                <td style="text-align:center"><span class="badge bg-label-primary me-1">@item1.Comments.Count</span></td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>

    <br>
    <br>
    <br>

    <!--Table2: Most Recent Posts-->
    <div class="card">
        <h5 class="card-header" style="background-color:#e6e4fd">Most Recent Posts</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Post</th>
                        <th>Author</th>
                        <th>Date</th>
                        <th style="text-align:center">Comments</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">

                    @{
                        foreach (var item2 in this.Model.Item2)
                        {
                            <tr>
                                <td>
                                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                                    <a asp-action="Details" asp-controller="Posts" asp-route-id="@item2.ID"><strong>@item2.Title</strong></a>
                                </td>
                                <td>@item2.User.Username</td>
                                <td>@item2.TimeCreated.ToShortDateString()</td>
                                <td style="text-align:center"><span class="badge bg-label-primary me-1">@item2.Comments.Count</span></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <br>
    <br>
    <!--Picture-->
    <p align="center"><img src="~/images/default_photo.jpg" /></p>
</div>

