﻿@model LoginUserDto

@{
    ViewData["Title"] = "Login";
    var failed = ViewData["Failed"] as string;
}
<body>
    <!-- Content -->

        <div class="container-xxl">
            <div class="authentication-wrapper authentication-basic container-p-y">
                <div class="authentication-inner">
                    <!-- Login -->
                    <div class="card">
                        <div class="card-body">

                            <div class="app-brand justify-content-center">
                                <h2><strong>Login</strong></h2>
                            </div>


                            <h3 class="mb-2">Welcome to Chef Chat!</h3>
                            <p class="mb-4"> Please sign-in to your account and start the adventure &#128523;</p>

                            <form class="mb-3" asp-controller="Authentication" asp-action="Login" method="POST">
                                <div class="mb-3">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text"
                                           class="form-control"
                                           id="username"
                                           asp-for="Username"
                                           placeholder="Enter your username"
                                           autofocus />
                                </div>
                                <div class="mb-3 form-password-toggle">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-label" for="password">Password</label>
                                    </div>
                                    <div class="input-group input-group-merge">
                                        <input type="password"
                                               id="password"
                                               class="form-control"
                                               asp-for="Password"
                                               placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                               aria-describedby="password" />
                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                    </div>
                                </div>

                                <div>
                                    <p style="color:crimson">
                                        @{
                                            if (!string.IsNullOrEmpty(failed))
                                            {
                                                @this.ViewData["Failed"]
                                            }
                                        }
                                    </p>
                                </div>

                                <div class="mb-3">
                                    <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                                </div>
                            </form>

                            <p class="text-center">
                                <span>New on our platform?</span>
                                <a asp-controller="Authentication" asp-action="Register">
                                    <span>Create an account</span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- /Login -->
                </div>
            </div>
        </div>
@*    }*@

    <!-- / Content -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>