﻿@model CreateUserDto

@{
    ViewData["Title"] = "Register";
    var failed = ViewData["Failed"] as string;
}

<body>
    <!-- Content -->

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <!-- Register Card -->
                <div class="card">
                    <div class="card-body">
                        <!-- Logo -->
                        <div class="app-brand justify-content-center">
                            <h2><strong>Register</strong></h2>
                        </div>
                        <!-- /Logo -->
                        <h4 class="mb-2">Real cooking starts here! </h4>
                        <p class="mb-4">
                            <img src="~/images/readyToCook.png" alt="ReadyToCook" width="100" height="100" />
                            Are you ready to get your hands dirty?<br>
                            Just fill the data below ;)
                        </p>

                        <form id="formAuthentication" class="mb-3" asp-controller="Authentication" asp-action="Register" method="POST">

                            <div>
                                <p style="color:crimson">
                                    @{
                                        if (!string.IsNullOrEmpty(failed))
                                        {
                                            @this.ViewData["Failed"]
                                        }
                                    }
                                </p>
                            </div>

                            <!--Username-->
                            <div class="mb-3">
                                <label for="Username" class="form-label">Username</label>
                                <input type="text"
                                       class="form-control"
                                       id="Username"
                                       asp-for="Username"
                                       placeholder="Enter your username"
                                       autofocus />
                            </div>

                            <!--Firstname-->
                            <div class="mb-3">
                                <label for="FirstName" class="form-label">First name</label>
                                <input type="text"
                                       class="form-control"
                                       id="FirstName"
                                       asp-for="FirstName"
                                       placeholder="Enter your first name"
                                       autofocus />
                            </div>


                            <!--Lastname-->
                            <div class="mb-3">
                                <label for="LastName" class="form-label">Last name</label>
                                <input type="text"
                                       class="form-control"
                                       id="LastName"
                                       asp-for="LastName"
                                       placeholder="Enter your last name"
                                       autofocus />
                            </div>

                            <!--Password-->
                            <div class="mb-3 form-password-toggle">
                                <label class="form-label" for="Password">Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password"
                                           id="Password"
                                           class="form-control"
                                           asp-for="Password"
                                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                           aria-describedby="password" />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>

                            <!--Email-->
                            <div class="mb-3">
                                <label for="Email" class="form-label">Email</label>
                                <input type="text"
                                       class="form-control"
                                       id="Email"
                                       asp-for="Email"
                                       placeholder="Enter your email" />
                            </div>

                            <!--Profile Photo-->
                            <div class="mb-3">
                                <label for="PhotoURL" class="form-label">Profile Photo</label>
                                <input class="form-control" 
                                       type="text"
                                       id="PhotoURL"
                                       asp-for="PhotoURL"
                                       placeholder="https://" />
                            </div>
                            <!--Later-->
                            @*                            <div class="mb-3">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="terms-conditions" name="terms" />
                <label class="form-check-label" for="terms-conditions">
                    I agree to
                    <a href="javascript:void(0);">privacy policy & terms</a>
                </label>
            </div>
        </div>*@

                            <button class="btn btn-primary d-grid w-100" type="submit">Sign up</button>
                        </form>

                        <p class="text-center">
                            <span>Already have an account?</span>
                            <a asp-controller="Authentication" asp-action="Login">
                                <span>Sign in instead</span>
                            </a>
                        </p>
                    </div>
                </div>
                <!-- Register Card -->
            </div>
        </div>
    </div>

    <!-- / Content -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="../assets/vendor/js/menu.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>

    <!-- Page JS -->
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
