﻿@model IEnumerable<UserFullInfoDto>

@{
    ViewData["Title"] = "Admins List";
    var collection = this.Model.Where(u => u.Role == UserRole.admin.ToString()).ToList();
}

    <!-- Layout wrapper -->
    <div class="layout-container">

        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- Content -->
            <form asp-controller="AdminPanel" asp-action="Index" method="get" class="form-inline">
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
                     id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                            <i class="bx bx-menu bx-sm"></i>
                        </a>
                    </div>

                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item d-flex align-items-center">
                                <i class="bx bx-search fs-4 lh-0"></i>
                                <input type="text"
                                       name="Username"
                                       class="form-control border-0 shadow-none"
                                       placeholder="Search..."
                                       aria-label="Search..." />
                            </div>
                        </div>
                        <!-- /Search -->
                    </div>
                </nav>

            </form>


            <div class="container-xxl flex-grow-1 container-p-y">
                <h2 class="fw-bold py-3 mb-4" align="center">Connect with the master chefs:</h2>

                @{

                    foreach (var user in collection)
                    {
                        <div class="row">
                            <div class="cell">
                                @{
                                    var url = @user.PhotoURL;
                                    if (url == "default photo")
                                    {
                                        url = "https://localhost:5000/images/default_photo.jpg";
                                    }
                                }
                                <img src="@url"
                                     alt="Profile Photo"
                                     width="300"
                                     height="300" />
                            </div>

                            <!-- Table within card -->
                            <div class="table-responsive text-nowrap">
                                <table class="table card-table">

                                    <tbody class="table-border-bottom-1">
                                        <tr>
                                            <td>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>ID:</strong></td>
                                            <td>@user.Id</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Username:</strong></td>
                                            <td>@user.Username</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fab fa-react fa-lg text-info me-3"></i> <strong>FirstName:</strong></td>
                                            <td>@user.FirstName</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fab fa-vuejs fa-lg text-success me-3"></i> <strong>LastName:</strong></td>
                                            <td>@user.LastName</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fab fa-vuejs fa-lg text-success me-3"></i> <strong>Email:</strong></td>
                                            <td>@user.Email</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fab fa-vuejs fa-lg text-success me-3"></i> <strong>Phone number:</strong></td>
                                            <td>@user.PhoneNumber</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Account Created:</strong>
                                            </td>
                                            <td>@user.TimeCreated</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Role:</strong>
                                            </td>
                                            <td>@user.Role</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>IsBlocked:</strong>
                                            </td>
                                            <td>@user.IsBlocked</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!--/ Table within card -->
                        </div>
                    }
                }

            </div>
            <!-- / Content -->
            <div class="content-backdrop fade"></div>
        </div>
        <!-- Content wrapper -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>

    <!-- / Layout wrapper -->