﻿@model PostCreateDTO
<body>
    <form asp-controller="Posts" asp-action="Create" method="post">
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" type="text" class="form-control" placeholder="Title must be betweent 16 and 64 characters." />
		    <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div>
          <label asp-for="Body" class="form-label">Post Body</label>
          <textarea asp-for="Body" class="form-control" placeholder="Body must be at least 32 characters long. To add tags just add them with '#' in the body of the post." id="exampleFormControlTextarea1" rows="7"></textarea>
          <span asp-validation-for="Body" class="text-danger"></span>
        </div>
        <br />
        <input type="submit" value="Create Post" class="btn btn-primary" />
    </form>
</body>