﻿@model PostDetailsViewModel
<body>
    @{
        this.ViewData["Title"] = $"Chef Chat - {this.Model.PostDTO.Title.Substring(0, 15)}...";
        this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("Username");
        this.ViewData["CanDelete"] = this.Context.Session.Keys.Contains("UserRole") && 
                                     this.Context.Session.GetString("UserRole") == "admin";
    }
    <div class="post-details">
    <h1>@this.Model.PostDTO.Title</h1>
    <p>
        @this.Model.PostDTO.TimeCreated 
        @{
            foreach (var tag in this.Model.PostDTO.Tags)
            {
                <span class="badge bg-primary">@tag</span>
            }
        }
    </p>
    <p>@this.Model.PostDTO.Body</p>
    <a asp-controller="Posts" asp-action="Like" asp-route-id="@this.Model.PostDTO.ID" class="btn btn-success">👍 @this.Model.PostDTO.Likes</a>
    <a asp-controller="Posts" asp-action="Dislike" asp-route-id="@this.Model.PostDTO.ID" class="btn btn-danger">👎 @this.Model.PostDTO.Dislikes</a>
    <a asp-controller="Posts" asp-action="Details" asp-route-id="@this.Model.PostDTO.ID" class="btn btn-info">💬 @this.Model.PostDTO.Comments.Count()</a>
    @{
        if(this.ViewData["CanDelete"].ToString() == "True")
        {
            <a asp-controller="Posts" asp-action="Delete" asp-route-id="@this.Model.PostDTO.ID" class="btn btn-sm btn-danger">DELETE</a>
        }
    }
    <hr />
    <form asp-controller="Comments" asp-action=Create method="post">
        <div class="row align-items-end">
            <div class="form-floating">
                <input type="text" asp-for="CommentBody" class="form-control" id="floatingInput" placeholder="I really like what..." aria-describedby="floatingInputHelp" />
                <span asp-validation-for="CommentBody" class="text-danger"></span>
                <label asp-for="CommentBody">Comment</label>
                <div id="floatingInputHelp" class="form-text">Place your comment here and press 'Enter' to submit it.</div>
            </div>
            <div style="display: none">
                <input type="number" asp-for="PostID" value="@this.Model.PostDTO.ID" />
            </div>
            <br />
            <input type="submit" value="Comment" class="btn btn-xs btn-outline-primary" />
        </div>
    </form>

    @{
        foreach(var comment in this.Model.PostDTO.Comments)
        {
            <hr />
            <p><b>@comment.UserUsername</b> - @comment.TimeCreated.ToString("HH:mm dd-MM-yy")</p>
            <p>@comment.Body</p>
            <a href="@this.Model.PostDTO.ID/Comments/@comment.ID/Like" class="btn btn-sm btn-success">👍 @comment.Likes</a>
            <a href="@this.Model.PostDTO.ID/Comments/@comment.ID/Dislike" class="btn btn-sm btn-danger">👎 @comment.Dislikes</a>
            if(this.ViewData["CanDelete"].ToString() == "True")
            {
                <a href="@this.Model.PostDTO.ID/Comments/@comment.ID" class="btn btn-xs btn-danger">DELETE</a>
            }
        }
    }
    </div>
</body>