﻿@model IEnumerable<PostResponseInListDTO>
<body>
    @{
        this.ViewData["Title"] = "Chef Chat - Posts";
        this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("Username");
        var tempSortBy = new List<string>()
    {
    "Recent",
    "RecentActivity",
    "Likes",
    "Comments"
    };

        var tempTimePeriod = new List<string>()
    {
    "Alltime",
    "Today",
    "Yesterday",
    "Lastweek",
    "Lastmonth",
    "Months",
    "Year"
    };
        var sortByList = new SelectList(tempSortBy);
        var timePeriodList = new SelectList(tempTimePeriod);
    }

    <form asp-controller="Posts" asp-action="Index" method="get" class="form-inline">
        <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
             id="layout-navbar">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                    <i class="bx bx-menu bx-sm"></i>
                </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                <!-- Search -->
                <div class="navbar-nav align-items-center">
                    <div class="nav-item d-flex align-items-center">
                        <i class="bx bx-search fs-4 lh-0"></i>
                        <input type="text"
                               name="Keyword"
                               class="form-control border-0 shadow-none"
                               placeholder="Search..."
                               aria-label="Search..." />
                    </div>
                </div>
                <!-- /Search -->
            </div>
        </nav>
        <div style="padding-left: 6%; padding-right: 6%">
            <br />
            <label>Sort By:</label>
            <select asp-items="@sortByList" name="SortBy" class="form-select"></select>
            <label>Time Period:</label>
            <select asp-items="@timePeriodList" name="TimePeriod" class="form-select"></select>
            <br />
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
    <hr />
    <div class="d-grid gap-2 col-6 mx-auto">
        <a asp-controller="Posts" asp-action="CreateForm" class="btn btn-primary btn-lg" type="button">Create a post</a>
    </div>
    <hr />
    @{
        
        foreach (var post in this.Model)
        {
            <div class="post-in-list">
                <p><a asp-controller="Users" asp-action="DetailsLink" asp-route-id="@post.UserUsername"><span class="badge bg-warning">@post.UserUsername</span></a> - @post.TimeCreated.ToString("HH:mm dd-MM-yy")</p>
                @{
                    if (this.ViewData["IsAuthenticated"].ToString() == "True")
                    {
                        <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.ID" class="nav">@post.Title</a>
                    }
                    else
                    {
                        <a asp-controller="Authentication" asp-action="Login" class="nav">@post.Title</a>
                    }
                }
                <p>
                    @{
                        foreach (var tag in post.Tags)
                        {
                            <span class="badge bg-label-primary">@tag</span>
                        }
                    }
                </p>
                <a asp-controller="Posts" asp-action="Like" asp-route-id="@post.ID" class="btn btn-sm btn-success">👍 @post.Likes</a>
                <a asp-controller="Posts" asp-action="Dislike" asp-route-id="@post.ID" class="btn btn-sm btn-danger">👎 @post.Dislikes</a>
                <a asp-controller="Posts" asp-action="Details" asp-route-id="@post.ID" class="btn btn-sm btn-info">💬 @post.CommentCount</a>
                <hr />
            </div>
        }
    }
</body>
