﻿@{
    this.ViewData["Title"] = "Page Not Found";
}

<!-- Content -->
<!-- Error -->

<div class="container-xxl container-p-y">
    <div>
        <h3 class="mb-2 mx-2" style="text-align:center">Page Not Found :(</h3>
        <p class="mb-4 mx-2" style="text-align:center">
            Oops! The requested URL was not found on this server.
        </p>

            <img src="~/assets/img/illustrations/page-misc-error-light.png"
                 alt="page-misc-error-light"
                 class="d-grid gap-2 col-lg-6 mx-auto"/>

        <div class="d-grid gap-2 col-lg-6 mx-auto">
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary" type="button">Back to home</a>
        </div>
    </div>
</div>
<!-- /Error -->
<!-- / Content -->

<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../assets/vendor/libs/popper/popper.js"></script>
<script src="../assets/vendor/js/bootstrap.js"></script>
<script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="../assets/vendor/js/menu.js"></script>
<!-- endbuild -->
<!-- Vendors JS -->
<!-- Main JS -->
<script src="../assets/js/main.js"></script>

<!-- Page JS -->
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>